[% INCLUDE 'tag/_select.tt' %]
<!-- ko with: $root.test_vm -->
<form class="form-inline" id="search-query">
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: search_query">
    <span class="btn btn-default" type="button" data-bind="click: load"><i class="glyphicon glyphicon-search"></i></span>
  </div>
</form>

<div class="page-header">
  <h2>Tests</h2>
  [%  INCLUDE '_actionbar.tt'
      show_create = 1
      uri_create  = c.uri_for(c.controller('Test').action_for('create'), [branch.id])
  %]
</div>

<table class="table table-condensed table-hover" style="display:none" data-bind="visible: tests().length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="tests" data-bind="foreach: tests">
    <tr>
      <td data-bind="text: name"></td>
      <td data-bind="foreach: tags">
        <span class="btn btn-xs btn-default reset-pointer" data-bind="text: name, style: {'background-color': color}"></span>
      </td>
      <td>
        <div class="epplication-actionbar btn-group">
            <a class="btn btn-default btn-xs" title="Show" data-bind="attr: {href: '/branch/'+branch_id+'/test/'+id+'/show'}">
              <i class="glyphicon glyphicon-eye-open"></i>
            </a>
            <a class="btn btn-default btn-xs" title="Edit" data-bind="attr: {href: '/branch/'+branch_id+'/test/'+id+'/edit'}">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="btn btn-default btn-xs" data-bind="click: function(){create_job('temp')}" title="Create a temporary job.">
              <i class="glyphicon glyphicon-play"></i>
            </a>
            <a class="btn btn-default btn-xs" data-bind="click: function(){create_job('test')}" title="Create a job.">
              <i class="glyphicon glyphicon-time"></i>
            </a>
            <a class="btn btn-default btn-xs" data-bind="click: function(){$parent.deleteTest($data)}" title="Delete">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a class="btn btn-default btn-xs" title="Clone" data-bind="click: clone">clone</a>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<div class="well" data-bind="visible: !tests().length">No tests available.</div>

<!-- /ko -->
